
services:
  postgres:
    image: postgres:13.10
    container_name: postgres
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_user -d spimex_db"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  sqlalchemy:
    build: ./src
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    restart: on-failure

  redis:
    image: redis
    container_name: redis
    ports:
    - "6379:6379"
    env_file:
      - ./.env
    command: redis-server --requirepass spimex_cache_password --appendonly yes
    restart: unless-stopped